# Zen house style. Conservative, close to LLVM with 4-space indent.
---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: true
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<zen/'
    Priority: 2
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 3
