# .clang-format
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
SpacesInAngles: false
SortIncludes: true
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
